.idea/
*.iml
.DS_Store
target/
*.swp
*.swo
logs/
.project
.classpath
factoid.log
factoid.log*

src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
/cb4385a008b18a8406c7d844daeeb6f581a22039.zip
src/main/resources/application - 副本.yml
